.grid {
	display: grid;
	border: 2px black solid;
	grid-template:  repeat(auto-fit) / repeat(6, 1fr);
}

.home {
	background-image: url(./Truck.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.career {
	background-image: url(./Truck3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.grey {
	color: grey;
}

.box {

}

.a {
	grid-column: 1 / span 7;
	text-align: center;
	font-size: 40px;
}

.ac {
	grid-column: 1 / span 7;
	text-align: center;
	font-size: 40px;
	background-color: grey;
}

.b {
	grid-column: 1 / span 7;
	text-align: center;
	z-index: 1;
	margin-top: 10px;
	}
	
.c {
	grid-column: 1 / span 7;
	text-align: center;
	font-size: 80px;	
	}
	
.d {
	grid-column: 1 / span 7;
	text-align: center;
	}
.g {
	grid-column: 1 / span 5;
}

.h {
	grid-column: 1 / span 5;
}
	
.i {
	grid-column: 6/span 2;
	text-align: left;
}	
	
.j {
	grid-column: 1 / span 7;
	text-align: left;
	}		
	
.k {
	grid-column: 1 / span 7;
	text-align: right;
	font-size: 10px;
	}
	
h1 {
	margin: 0px;
}

h6 {
	margin: 0px;
}


	